:root{
    --cor-de-fundo: hsl(0, 100%, 99%);
--texto:#000000;
}
body{
   background-color: var(--cor-de-fundo);
}
   color:#000000
   img{
       width: 10%;
 }
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}