:root {
    --cor-de-fundo: hsl(0, 100%, 99%);
    --texto: #000000;
}

body {
    background-color: var(--cor-de-fundo);

    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

img {
    width: 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cr7 {
    width: 20%;
}

.introducao {
    display: flex;
}

.cr {
    display: flex;
}
.introducao{    display: flex;
margin: 20px 0 0 0;
padding: 20px;
background-color: antiquewhite;
border-radius: 19px;
border: 3px solid rebeccapurple;}

#equipe{
    margin: 75px 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.ggg{
    width: 30%;
}
.messe{    display: flex;
margin: 20px 0 0 0;
padding: 20px;
background-color: rgb(97, 169, 233);
border-radius: 19px;
border: 3px solid rgb(243, 209, 19);}

.ney{   display: flex;
margin: 20px 0 0 0;
padding: 20px;
background-color: crimson;
border: 18px;
border: 3px solid blue;}